src/resource/minidlna_set_state.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="minidlna">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="run" minOccurs="1" maxOccurs="1" type="runelement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="runelement">
    <xs:restriction base="xs:string">
      <xs:enumeration value="start"/>
      <xs:enumeration value="stop"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>