src/resource/minidlna_state.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="minidlna">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="state" minOccurs="1" maxOccurs="1" type="minidlnastate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="minidlnastate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="notrunning"/>
      <xs:enumeration value="running"/>
      <xs:enumeration value="starting"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>